.ui.borderless.topmenu.menu {
    box-shadow: none;

}

.content {
    margin-top: 5px;
}


.ui.header {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui.grid {
    padding-left: 20px;
}

.ui.row.one {
    padding-top: 70px;
}

.loginStyle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: black;
}